<div class="bg-[#7A8C4E] border-b-4 border-red-600 px-6 py-3 flex items-center justify-between">
  <div class="flex items-center space-x-3">

    <!-- Image placée dans public/images -->
    <img src="images/logo.png" alt="Logo" class="h-10 w-auto">


    <h2 class="text-white text-xl font-bold">MiBadLocation</h2>
  </div>
  <div class="space-x-6">
    <a href="#" class="text-white hover:text-red-200 transition">Nos biens</a>
    <a href="#" class="text-white hover:text-red-200 transition">Connexion</a>
  </div>
</div>
